<!-- username -->
<div class="container my-5" *ngIf="!checkOtp && !checkNewPass">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Forget Password</h4>
        </div>
        <form [formGroup]="passForm">
          <div class="card-body">
            <label for="username">Username</label>
            <input
              type="email"
              class="form-control"
              id="username"
              formControlName="username"
              [ngClass]="{
                'is-invalid': checkForm && passForm.controls['username'].errors
              }"
            />
            <div
              class="text-danger"
              *ngIf="checkForm && passForm.controls['username'].errors"
            >
              <small *ngIf="passForm.controls['username'].errors['required']"
                >Insert your username</small
              >
              <small *ngIf="passForm.controls['username'].errors['email']"
                >Invalid email</small
              >
            </div>
            <small class="text-danger" *ngIf="errMsg">{{ errMsg }}</small>
          </div>
          <div class="card-footer">
            <input
              type="submit"
              value="Change Password"
              class="btn btn-sm btn-info"
              (click)="check()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- otp -->
<div class="container my-5" *ngIf="checkOtp && !checkNewPass">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Otp</h4>
        </div>
        <form [formGroup]="otpForm">
          <div class="card-body">
            <label for="otp">Enter Otp</label>
            <input
              type="email"
              class="form-control"
              id="otp"
              formControlName="otp"
              [ngClass]="{
                'is-invalid': checkForm2 && otpForm.controls['otp'].errors
              }"
            />
            <small
              class="text-danger"
              *ngIf="checkForm2 && otpForm.controls['otp'].errors"
              >Insert Otp
            </small>
            <small class="text-danger" *ngIf="otpErrMsg">{{ otpErrMsg }}</small>
          </div>
          <div class="card-footer">
            <input
              type="submit"
              value="Change Password"
              class="btn btn-sm btn-info"
              (click)="otp()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- new password -->
<div class="container my-5" *ngIf="checkNewPass">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          <h4>New Password</h4>
        </div>
        <form [formGroup]="newPassForm">
          <div class="card-body">
            <!-- new password -->
            <label for="password">New Password</label>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="new_pass"
                [ngClass]="{
                  'is-invalid':
                    newPasscheckForm && newPassForm.controls['new_pass'].errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="
                  newPasscheckForm && newPassForm.controls['new_pass'].errors
                "
                >Insert new password</small
              >
            </div>

            <!-- confirm password -->
            <label for="conf_password">Confirm New Password</label>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="conf_password"
                formControlName="conf_new_pass"
                [ngClass]="{
                  'is-invalid':
                    newPasscheckForm &&
                    newPassForm.controls['conf_new_pass'].errors
                }"
              />
              <div
                class="text-danger"
                *ngIf="
                  newPasscheckForm &&
                  newPassForm.controls['conf_new_pass'].errors
                "
              >
                <small
                  *ngIf="
                    newPassForm.controls['conf_new_pass'].errors['required']
                  "
                  >Insert Confirm password</small
                >
                <small
                  *ngIf="
                    newPassForm.controls['conf_new_pass'].errors['passErr']
                  "
                  >Password and Repassword does not match</small
                >
              </div>
            </div>
          </div>
          <div class="card-footer">
            <input
              type="submit"
              value="Change Password"
              class="btn btn-sm btn-info"
              (click)="submit()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
