<app-header></app-header>
<br />
<br />
<br />
<div class="container my-5" style="min-height: 700px">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4>Change password</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="passForm">
            <div class="form-group">
              <label for="chan_pass">Current Password</label>
              <input
                type="password"
                class="form-control"
                id="chan_pass"
                formControlName="old_pass"
                [ngClass]="{
                  'is-invalid':
                    checkForm && passForm.controls['old_pass'].errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="checkForm && passForm.controls['old_pass'].errors"
                >Insert Current Password</small
              >
              <small class="text-danger" *ngIf="errMsg">{{errMsg}}</small>
            </div>
            <div class="form-group">
              <label for="new_pass">New Password</label>
              <input
                type="password"
                class="form-control"
                id="new_pass"
                formControlName="new_pass"
                [ngClass]="{
                  'is-invalid':
                    checkForm && passForm.controls['new_pass'].errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="checkForm && passForm.controls['new_pass'].errors"
                >Insert New Password</small
              >
            </div>
            <div class="form-group">
              <label for="conf_new_pass">Confirm New Password</label>
              <input
                type="password"
                class="form-control"
                id="conf_new_pass"
                formControlName="conf_new_pass"
                [ngClass]="{
                  'is-invalid':
                    checkForm && passForm.controls['conf_new_pass'].errors
                }"
              />
              <div
                class="text-danger"
                *ngIf="checkForm && passForm.controls['conf_new_pass'].errors"
              >
                <small
                  *ngIf="passForm.controls['conf_new_pass'].errors['required']"
                  >Insert confirm New Password</small
                >
                <small
                  *ngIf="passForm.controls['conf_new_pass'].errors['passErr']"
                  >Password and Repassword does not match</small
                >
              </div>
            </div>
            <div class="card-footer">
              <input
                type="submit"
                value="Change Password"
                class="btn btn-warning"
                (click)="submit()"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
