<div class="block-box post-view" *ngFor="let p of allPost">
  <div class="post-header">
    <div class="media">
      <div class="user-img">
        <img src="./assets/media/figure/chat_10.jpg" alt="Aahat" />
      </div>
      <div class="media-body">
        <div class="user-title">
          <a href="user-timeline.html">Aahat Akter</a>
          <i class="icofont-check"></i>
          <span style="cursor: pointer">posted in the group</span>&nbsp;
          <a href="#">Tourist Guide</a>
        </div>
        <ul class="entry-meta">
          <li class="meta-privacy"><i class="icofont-world"></i> Public</li>
          <li class="meta-time">{{ calculateDiff(p) }} {{ HourTime(p) }}</li>
        </ul>
      </div>
    </div>
    <div class="dropdown">
      <button
        class="dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        ...
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" routerLink="">Close</a>
        <a class="dropdown-item" style="cursor: pointer" (click)="edit(p)"
          >Edit</a
        >
        <button
          class="dropdown-item"
          data-toggle="modal"
          data-target="#delModal"
          (click)="askDelete(p)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="post-body">
    <div class="post-img">
      <p class="post-para text-center">
        {{ p.statusinput }}
        <i class="icofont-wink-smile"></i>
      </p>
      <!-- <img src="./assets/media/figure/post_1.jpg" alt="Post" /> -->
    </div>
    <div class="post-meta-wrap">
      <div class="post-meta">
        <div class="post-reaction">
          <div class="reaction-icon">
            <img src="./assets/media/figure/reaction_1.png" alt="icon" />
            <img src="./assets/media/figure/reaction_2.png" alt="icon" />
          </div>
          <div class="meta-text">15</div>
        </div>
      </div>
      <div class="post-meta">
        <div class="meta-text">0 Comments</div>
        <div class="meta-text">0 Share</div>
      </div>
    </div>
  </div>
  <div class="post-footer">
    <ul>
      <li class="post-react">
        <a style="cursor: pointer"><i class="icofont-thumbs-up"></i>React!</a>
        <ul class="react-list">
          <li *ngFor="let il of imgLoop">
            <a style="cursor: pointer" (click)="reacted(p)"
              ><img
                src="./assets/media/figure/reaction_{{ il }}.png"
                alt="Like"
            /></a>
          </li>
          <!-- <li>
            <a style="cursor: pointer" (click)="reacted()"
              ><img
                src="./assets/media/figure/reaction_2.png"
                alt="Like"
              /><span>2</span></a
            >
          </li>
          <li>
            <a style="cursor: pointer" (click)="reacted()"
              ><img
                src="./assets/media/figure/reaction_4.png"
                alt="Like"
              /><span>3</span></a
            >
          </li>
          <li>
            <a style="cursor: pointer" (click)="reacted()"
              ><img
                src="./assets/media/figure/reaction_2.png"
                alt="Like"
              /><span>4</span></a
            >
          </li>
          <li>
            <a style="cursor: pointer" (click)="reacted()"
              ><img
                src="./assets/media/figure/reaction_7.png"
                alt="Like"
              /><span>5</span></a
            >
          </li>
          <li>
            <a style="cursor: pointer" (click)="reacted()"
              ><img
                src="./assets/media/figure/reaction_6.png"
                alt="Like"
              /><span>6</span></a
            >
          </li>
          <li>
            <a style="cursor: pointer" (click)="reacted()"
              ><img
                src="./assets/media/figure/reaction_5.png"
                alt="Like"
              /><span>7</span></a
            >
          </li> -->
        </ul>
      </li>
      <li>
        <a href="#"><i class="icofont-comment"></i>Comment</a>
      </li>
      <li class="post-share">
        <a href="javascript:void(0);" class="share-btn"
          ><i class="icofont-share"></i>Share</a
        >
        <ul class="share-list">
          <li>
            <a href="#" class="color-fb"><i class="icofont-facebook"></i></a>
          </li>
          <li>
            <a href="#" class="color-messenger"
              ><i class="icofont-facebook-messenger"></i
            ></a>
          </li>
          <li>
            <a href="#" class="color-instagram"
              ><i class="icofont-instagram"></i
            ></a>
          </li>
          <li>
            <a href="#" class="color-whatsapp"
              ><i class="icofont-brand-whatsapp"></i
            ></a>
          </li>
          <li>
            <a href="#" class="color-twitter"
              ><i class="icofont-twitter"></i
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="delModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete {{ type }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          are you sure you want to delete this <b>{{ type }}</b>
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          #closeBtn
          data-dismiss="modal"
        >
          no
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confDelete(closeBtn)"
          (click)="reload()"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <app-delmodal [type]="'Post'" (delEvent)="confDelete($event)"></app-delmodal> -->
